@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #a49393;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.btn {
  background-color: #67595e;
  color: #fff;
  margin: 1em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  padding: 1.5em 3em;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.8;
}
.btn:focus {
  outline: none;
}
